aside.sidebar
  .sidebar__menu
    .sidebar__hamburger
      span.bar
      span.bar
      span.bar
    ul.sidebar__list
      li.sidebar__item 
        a(class="sidebar__link" href="#") 
          img(src="img/plane.png" alt="plane")
          span Aircraft
      li.sidebar__item 
        a(class="sidebar__link" href="#") 
          img(src="img/graphic.png" alt="graphic")
          span Recent Sales
      li.sidebar__item 
        a(class="sidebar__link" href="#") 
          img(src="img/update.png" alt="update")
          span Market Updates
      li.sidebar__item 
        a(class="sidebar__link" href="#") 
          img(src="img/mobile.png" alt="mobile")
          span FMV
        ul.sidebar__sublist
          li.sidebar__item 
            a(class="sidebar__link" href="#") Manage Prices
          li.sidebar__item 
            a(class="sidebar__link" href="#") Compare Costs
  .sidebar__logout
    a(href="#") 
      img(src="img/logout.png" alt="logout")
      span Logout