section.profile
  span.btn-hidden-menu
    img(src="img/hidden-arrow.png", alt="")
  .profile__item
    h1.profile__title MfgYear Make Model Serial Number
    .profile__status
      span.profile__btn.profile__btn-green Confirmed
      span.profile__btn Ghost
    p.profile__published Published to soljets.com

  .profile__item
    ul.profile__infoList
      li.profile__infoListItem
        span.name Fair Market Value:
        span.value.text-bold $955,500
      li.profile__infoListItem
        span.name Status:
        span.value.green-text.text-bold For Sale
      li.profile__infoListItem
        span.name Days on Market:
        span.value 50
      li.profile__infoListItem
        span.name Ask Price:
        span.value.text-bold $955,500 <span class = "value-increase">11%</span>
      li.profile__infoListItem
        span.name Take Price:
        span.value.text-bold $955,500 <span class = "value-decrease">11%</span>
      li.profile__infoListItem
        span.name Brokerage:
        span.value AvPro
      li.profile__infoListItem
        span.name Damage:
        span.value <span class="value-arrow">Low</span>
      li.profile__infoListItem
        span.name Pedigree:
        span.value Medium
      li.profile__infoListItem
        span.name Next Inspection:
        span.value 
          span.value-date mm/dd/yy
          span.value-text Inspection Type
    
  .profile__item
    p.profile__subtitle Aircraft Notes:
    .profile__enter
      textarea(class="profile__textarea", placeholder="Press enter to post note...")
      button.btn-post  
    .post-list
      .post-list__item
        p.post-list__date mm/dd/yy by Cris S.
        p.post-list__text Broker willing to take in the low 1's
      .post-list__item
        p.post-list__date mm/dd/yy by Cris S.
        p.post-list__text Broker willing to take in the low 1's
      .post-list__item
        p.post-list__date mm/dd/yy by Cris S.
        p.post-list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
      .post-list__item
        p.post-list__date mm/dd/yy by Cris S.
        p.post-list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
      .post-list__item
        p.post-list__date mm/dd/yy by Cris S.
        p.post-list__text Broker willing to take in the low 1's
      .post-list__item
        p.post-list__date mm/dd/yy by Cris S.
        p.post-list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
